@model IEnumerable<PTK.Models.Pizza>

@{
    ViewData["Title"] = "PizzaList";
}

<div class="text-center">
    <h1 class="display-4">Pizza Shop</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
  
<div class="row">
    @foreach(var Pizza in Model)
    {
        <div id="PizzaContainer" class="col-lg-3 col-md-4 col-sm-12" style="padding-bottom:50px">
            <img id="PizzaImage style="width:80%;" height:80%;" src="@Pizza.URL" alt="@Pizza.URL"/>
            <span id="pizzaTitle">@Pizza.Title </span>
            <span id="pizzaPrice"> Rs. Comming Soon </span>
            <span><input type="number" name="quantity" value="" placeholder="0"/></span>
            <span><button>Add to Cart</button></span>
        </div>
    }

</div>

